<mdb-navbar SideClass="navbar navbar-dark grey darken-3 margen-bottom">
        <mdb-navbar-brand>
            <a class="navbar-brand" href="#">
                <img src="https://www.amac.nl/skin/frontend/amacrwd/default/images/logo-big.png" height="30" alt="">
            </a>&nbsp;<b style="color: #FFF">iCare prijsoverzicht</b>
        </mdb-navbar-brand>
    </mdb-navbar>
    <br><br>
    <router-outlet></router-outlet>
    <br>
    <a routerLink="/" mdbBtn color="danger" class="float-right" mdbWavesEffect><mdb-icon fas icon="undo"></mdb-icon> Begin opnieuw</a>
<footer>
        <div class="footer-copyright text-center py-3"> Made with <mdb-icon fas color="red" icon="heart"></mdb-icon> in Roermond by <a href="https://www.linkedin.com/in/jules-kreutzer/" target="_blank">Jules Kreutzer</a></div>
</footer>